*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background: linear-gradient( to right bottom,#d4e8bc 20%, #ba8036 40%, rgb(54, 54, 54) 60%);
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-size: contain;
}
nav{
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #ba8135;
    top:0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
}
.logo img {
    width: 150px;
}
.menu > ul {
    list-style: none;
    background-color: #9b6622;
    width: 100px;
    height: 60px;
}
.menu > ul > li {
    text-align: center;
    font-size: 15px;
    height: 100%;
    width: 100%;
    line-height: 70px;
    cursor: pointer;
    display: inline-block;
    font-family: fantasy;
}
.menu > ul > li:hover{
    background-color: #bb986a;
    transition: all .4s;
}
.menu > ul > li > a {
    text-decoration: none;
    color: #2e1c05;
}

.sub-content{
    position: absolute;
    width: 100px;
    top: 60px;
    overflow: hidden;
    background-color: #9b6622;
    max-height: 0px;
}
.sub-content a {
    color: #fff;
    text-decoration: none;
    border-top: .1px solid white;
    z-index: 100;
}
.sub-drop{
    padding: 0;
}
.sub-drop ul {
    width: 100%;
}
.sub-drop ul li {
    width: 100%;
    height: 50px;
    line-height: 50px;
}
.sub-drop ul li a {
    display: inline-block;
    font-family: monospace;
    font-size: 12px;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
.sub-drop ul li:hover{
    background-color: #bb986a;
    transition: all .3s;
}

/*
:FOCUS = ONCLICK
.item:focus ~ .sub-content{
    max-height: 200px;
    transition: max-height .3s ease-in;
    -webkit-transition: max-height .3s ease-in;
    -moz-transition: max-height .3s ease-in;
}
*/
.menu ul li:hover .sub-content{
    max-height: 200px;
    transition: max-height .3s ease-in;
    -webkit-transition: max-height .3s ease-in;
    -moz-transition: max-height .3s ease-in;
}

.card {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 15vh;
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.1));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter:blur(10px);
    box-shadow: 0px 3px 15px #27272780;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    animation: show 1.5s;
    z-index: 0;
}
body div img {
    max-width: 100%;
}
body div h1 {
    max-width: 90%;
    font-size: 28px;
    margin: 20px 0px;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body div p {
    max-width: 80%;
    font-size: 16px;
    font-weight: 500;
    color: rgb(255, 243, 227);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.card a {
    width: 40%;
    font-size: 16px;
    margin: 20px 0px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgba(66, 44, 23, 0.541);
    border: 1px solid;
    border-radius: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.card a:hover{
    background-color: rgba(170, 144, 119, 0.541);
    color: rgb(66, 44, 23);
    transition: all .3s linear;
}
.links {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
    line-height: 25px;
    flex-direction: row;
    top: 0;
    background-color: rgba(255, 255, 255, 0.432);
    height: 50px;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter:blur(15px);
    box-shadow: 0px 0.5px 5px black;
}
.links a {
    height: 50%;
    width: 90px;
    justify-content: space-between;
    color: rgb(44, 24, 1);
    text-decoration: none;
    text-align: center;
    border-top: 1px solid rgba(44, 24, 1, 0.562);
    border-left: 1px solid rgb(44, 24, 1);
    box-shadow: 0px 1px 5px rgb(44, 24, 1);
}
.links a:hover {
    box-shadow: 0px 0.5px 2px rgb(44, 24, 1);
}
@keyframes show {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

/* 2 */

#secondhtml {
    background: #ece4cc;
    height: 100%;
}
.secondcard {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 15vh;
    background: linear-gradient(to left top, #704d20, #704d207e);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter:blur(15px);
    box-shadow: 0px 3px 15px #27272780;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    animation: show 1.5s;
}
.secondcard a {
    width: 40%;
    font-size: 16px;
    margin: 20px 0px;
    text-decoration: none;
    border: 1px solid;
    border-radius: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(170, 144, 119, 0.541);
    color: rgb(66, 44, 23);
}
.secondcard a:hover{
    color: rgb(255, 255, 255);
    background-color: rgba(66, 44, 23, 0.541);
    transition: all .3s linear;
}